<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
   <employee-count *ngIf="employees" [all]="getTotalEmployeesCount()"
                   [male]="getTotalMaleEmployeesCount()"
                   [female]="getTotalFemaleEmployeesCount()"
                   (countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)"
                   ></employee-count>
    <br /><br />
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>FIRSTNAME</th>
                <th>LASTNAME</th>
                <th>GENDER</th>
                <th>SALARY</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let employee of employee;">
                <tr *ngIf="selectedEmployeeCountRadioButton=='All' || selectedEmployeeCountRadioButton==employee.gender">
                    <td>{{employee.ID }}</td>
                    <td>{{employee.FIRSTNAME }}</td>
                    <td>{{employee.LASTNAME}}</td>
                    <td>{{employee.GENDER}}</td>
                    <td>{{employee.SALARY}}</td>
                </tr>
            </ng-container>
            <tr *ngIf="!employees">
                <td colspan="5">{{statusMessage}}</td>
            </tr>
            <tr *ngIf="employees && employees.length==0">
                <td colspan="5">Keinen arbeiterin sehen</td>
            </tr>
        </tbody>

    </table>
        <br />
   
</body>
</html>
