body {
   color: darkred;
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   border-collapse: collapse;
}

td {
    border: 1px solid #000000;
    padding: 5px;
}

th {
    border: 1px solid #0026ff;
    padding: 5px;   
}
